* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color:white;
  font-family: Courier, Verdana, Arial;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 100vh;
}
button {
  border: 2px solid white;
  border-radius: 25px;
  background: transparent;
  color: white;
  width: 120px;
  height: 30px;
  margin: 10px 5px;
}
.caja {
  width:80%;
  display: flex;
  align-content: center;
  flex-direction: column;
}
.user {
  margin: 10px 0;
}

.centrado {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height:250px;
  width: 50%;
  height: 50%;
  margin: auto;
}    
input{
  width:110px;
  height:20px;
}
.imagen {
  height: 200px;
  margin: auto;
}
:focus {
  outline: 0;
}
.hide {
  display: none;
}

.stclave {
  border: 2px solid #FFFAFA;
  background: transparent;
  color: white;
  height: 26px;
  margin: 10px 5px;
}
.botoness{
  display: flex;
}
.uno{
  flex-grow: 1;
}
.dos{
  flex-grow: 2;
}
.tres{
  flex-grow: 3;
}
.space{
  height: 26px;
  width: 200px;
  margin: 10px 5px;
  border: black;
}
.around{
  display: flex;
  justify-content: space-around;
}

textarea{
  background: transparent;
  color: white;
  border:3px solid white;
  /* border: none;*/
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px;
  resize: none;
  width: 100%;
}